
.search{
    width:40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
    line-height: 30px;
}

.select{
    width:40%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
height: 35px;
}